<div class="container">

    <h1>Top celebrities and films</h1>
    <hr>
    <a href="/celebrities" class="btn btn-info btn-sm">Best Celebrities</a>
    {{!-- <a href="celebrities/new" class="btn btn-info btn-sm">Crear Celebrities</a> --}}


    <a href="/movies" class="btn btn-info btn-sm">Best films</a>



</div>