<section class="main-image-container">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-6">
                <h1 class="white-title">Cinema Ironhack</h1>
                <a href="/movies" class="btn btn-light">Check the Movies!</a>
            </div>
        </div>
    </div>
</section>

