<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h2>New film</h2>

            <form method="POST" action="/movies/new">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>Genre</label>
                    <input type="text" class="form-control" name="genre">
                </div>
                <div class="form-group">
                    <label>Plot</label>
                    <input type="text" class="form-control" name="plot">
                </div>
                <button type="submit" class="btn btn-info">Do it</button>
            </form>
        </div>
    </div>



</div>